<a href="https://colab.research.google.com/github/ErAniketKumar/PythonBasic/blob/main/basic_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("we are learning python for matchine learning")

hello

In [ ]:
var1=123;
var2="hello";
var3=25.9;
var4=203;
var5=['aniket', 5, "ojay"];
print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))
print(type(var5))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'int'>
<class 'list'>

In [ ]:
##core data type is  Array||list ||tuple|| dictionary|set
#1 group of hetrogeneous data which is multiple
##denote [];

#2 tuple group of hetrogeneous data but it is immutabe i.e not change any value i.e nott upate like const
#list ();

#dictionary
#data type in form of key value pair
#{key1: value1, key2: value2};

#set unordered collection of heterogeneous data

In [ ]:
mytuple=(20,20.8, "hello", True, 34+21j, [12,22,33])
print(mytuple);

(20, 20.8, 'hello', True, (34+21j), [12, 22, 33])

In [ ]:
myset = {20,20.5,"umang", True, 34+9j}
print(myset);

{True, 20, 20.5, 'umang', (34+9j)}

In [ ]:
mydic={"name": "aniket", "age": 20, "place":"patna"};
print(mydic);

{'name': 'aniket', 'age': 20, 'place': 'patna'}

In [ ]:
print(mydic['name'])

aniket

In [ ]:
##consitional statment
num=int(input("enter a num"))
if num>=0:
  print("+ve num");
else:
  print("-ve number");

enter a num-1
-ve number

In [ ]:
##print 1 to n number

i=1;
while(i<10):
  print(i);
  i=i+1;

In [ ]:
mylist=["patna","mumbai","pune","lucknow","delhi","gujrat","surat","simla"];
i=0;
while(i<len(mylist)):
  print(mylist[i]);
  i=i+1;

# New Section

In [ ]:
## for loop
for i in range(10):
  print(i);

In [ ]:
for i in range(10,20): ##start to end-1
  print(i);

10
11
12
13
14
15
16
17
18
19

In [ ]:
for i in range(10, 100,3): # start end step increment/ decrement
  print(i);

10
13
16
19
22
25
28
31
34
37
40
43
46
49
52
55
58
61
64
67
70
73
76
79
82
85
88
91
94
97

In [ ]:
##function
def myfun():
    print("hello world");


myfun();
myfun();

hello world
hello world

In [ ]:
#function with parameter

def fun(x,y):
  print(x+y);
fun(2,9)

11

In [ ]:
def fun2(x, y):
  return x+y;
print(fun2(10,30))

40

In [ ]:
##function with return statment
def fun3(x,y):
  return x+y;
y=fun3(5,9);
print(y);

14